@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
  max-width: 1200px;
  margin: auto;
  background-color: #181818;
  font-family: 'Roboto', sans-serif;
  padding: 0 10px;
}

h1 {
  color: #fff;
  text-align: center;
}
.controlBlock {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.controlButton {
  background: #FFF;
  color: #000;
  text-align: center;
  padding: 10px;
  width: 167px;
  border-radius: 21px;
  font-size: 15px;
  cursor: pointer;
  margin: 10px 5px;
}

.controlActive, .controlBlock div:hover {
  background: linear-gradient(to bottom, #b1fdf8, #5b9bac) !important;
}
.page {
  color: #fff;
}
.disable {
  display: none !important;
}
#aboutSmartPage .text {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 30px 0;
}
#aboutSmartPage .text div {
  width: calc(50% - 15px);
  text-align: justify;
  min-width: 280px;
  margin: 10px 0;
}
#aboutSmartPage .aboutBlocks {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 50px 0;
}
#aboutSmartPage .aboutBlocks div {
  width: calc(25% - 20px);
  min-width: 280px;
  text-align: center;
  padding: 15px;
  font-size: 14px;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 10px 5px;
}
#aboutSmartPage .aboutBlocks div p {
  min-height: 70px;
}
#aboutSmartPage .steps-inner {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 288px;
}
#aboutSmartPage .step {
  width: 225px;
  padding-top: 120px;
  background-repeat: no-repeat;
  background-position: top center;
  font-weight: 500;
  font-size: 17px;
  margin: 20px 0;
  text-align: center;
}
#aboutSmartPage .step p {
  font-size: 23px;
  font-weight: bold;
  margin: 0;
}
#aboutSmartPage .arrow {
  background-image: url(./assets/5.png);
  width: 50px;
  background-position: center 55px;
  background-repeat: no-repeat;
}
#aboutSmartPage .step:nth-child(1) {
    background-image: url(./assets/6.png);
}
#aboutSmartPage .step:nth-child(3) {
    background-image: url(./assets/7.png);
}
#aboutSmartPage .step:nth-child(5) {
    background-image: url(./assets/8.png);
}
#aboutSmartPage .step:nth-child(7) {
    background-image: url(./assets/9.png);
}
#aboutSmartPage {
  margin: 30px 0;
}

#aboutSmartPage h3 {
  text-align: center;
  font-size: 32px;
  font-weight: normal;
}
#aboutSmartPage p {
  text-align: center;
  font-size: 20px;
}
#spheresPage .sphereBlock {
  color: #000;
  background-color: #fff;
  padding: 10px 30px 30px 365px;
  border-radius: 10px;
  text-align: justify;
  margin: 20px 0;
  background-repeat: no-repeat;
  background-position: 50px top;
  position: relative;
  max-height: 220px;
  height: auto;
  cursor: pointer;
  transition: 0.5s;
  overflow: hidden;
}
#spheresPage .sphereBlock::after {
 content: ''; /* Выводим элемент */
 position: absolute; /* Абсолютное позиционирование */
 right: 0; bottom: 0; /* Положение элемента */
 width: 100%; /* Ширина градиента*/
 height: 40px; /* Высота родителя */
 background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), #fff 100%);
 border-radius: 10px;
}
#spheresPage .sphereBlock:nth-child(1) {
  background-image: url(./assets/sphere1.png);
}
#spheresPage .sphereBlock:nth-child(2) {
  background-image: url(./assets/sphere2.png);
}
#spheresPage .sphereBlock:nth-child(3) {
  background-image: url(./assets/sphere3.png);
}
#spheresPage .sphereBlock:nth-child(4) {
  background-image: url(./assets/sphere4.png);
}
#spheresPage .sphereBlock:nth-child(5) {
  background-image: url(./assets/sphere5.png);
}
#spheresPage .sphereBlock:nth-child(6) {
  background-image: url(./assets/sphere6.png);
}

#spheresPage .sphereBlock h3 {
  font-size: 25px;
  font-weight: normal;
}
.fullSphere {
  max-height: 2000px !important;
}

.tariffBlock {
  background-color: #fff;
  color: #000;
  padding: 30px;
  border-radius: 10px;
  margin: 30px 0;
}

.tariffBlock h3 {
  font-size: 25px;
  font-weight: normal;
  text-align: center;
  margin: 0;
}
.tariffBlock p {
  text-align: center;
}
.tariffBlock-inner {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.price {
  color: #fff;
  width: 207px;
  padding-top: 176px;
  text-align: center;
  font-size: 23px;
  padding-bottom: 13px;
}
.price-wrapper, .price-wrapper2, .price-wrapper3 {
  background-color: #000;
  background-repeat: no-repeat;
  margin: 20px 10px;
}
.unlim-1day {
  background-image: url(./assets/t1.jpg);
}
.unlim-1mon {
  background-image: url(./assets/t2.jpg);
}
.unlim-3mon {
  background-image: url(./assets/t3.jpg);
}
.unlim-6mon {
  background-image: url(./assets/t4.jpg);
}
.unlim-12mon {
  background-image: url(./assets/t5.jpg);
}
.lim-7hours {
  background-image: url(./assets/t6.jpg);
}
.lim-30hours {
  background-image: url(./assets/t7.jpg);
}
.rinex-3mon {
  background-image: url(./assets/t8.jpg);
}
.rinex-6mon {
  background-image: url(./assets/t9.jpg);
}
.rinex-12mon {
  background-image: url(./assets/t10.jpg);
}
.tariff-ps {
  text-align: center;
  color: #4d4d4d;
  font-size: 14px;
  margin-bottom: 0;
}
.limitBlock {
  justify-content: center;
}
.callback-button {
  text-align: center;
  color: #fff;
  background-color: #000;
  padding: 15px;
  border-top: 1px solid #2e2e2e;
  cursor: pointer;
}
.price-wrapper2 .callback-button:hover {
  background: linear-gradient(to bottom, #c7f064, #769430);
  color: #000;
}
.price-wrapper3 .callback-button:hover {
  background: linear-gradient(to bottom, #fed74f, #ddb220);
  color: #000;
}
.callback-button:hover {
  background: linear-gradient(to bottom, #babbff, #7e80d5);
  color: #000;
}

#connectPage .connectBlock {
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  text-align: justify;
  margin: 20px 0;
  background-repeat: no-repeat;
  background-position: 50px top;
  position: relative;
  max-height: 220px;
  height: auto;
  cursor: pointer;
  transition: 0.5s;
  overflow: hidden;
  padding-bottom: 30px;
}
#connectPage .connectBlock::after {
 content: ''; /* Выводим элемент */
 position: absolute; /* Абсолютное позиционирование */
 right: 0; bottom: 0; /* Положение элемента */
 width: 100%; /* Ширина градиента*/
 height: 30px; /* Высота родителя */
 background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), #fff 100%);
 border-radius: 10px;
}
.openTab {
  background: url(./assets/minus.png) right 15px center, linear-gradient(to bottom, #b1fdf8, #5b9bac) !important;
  background-repeat: no-repeat !important;
}
.fullConnect {
  max-height: 1700px !important;
}
#connectPage .connectBlock h3 {
  margin: 0;
  padding: 15px 50px 15px 30px;
  font-size: 22px;
  background: url(./assets/plus.png) right 15px center, linear-gradient(to bottom, #b1fdf8, #5b9bac);
  background-repeat: no-repeat;
}
#connectPage .connectBlock h4,  #connectPage .connectBlock p{
  padding: 0 30px;
}
#connectPage .connectBlock span {
  font-weight: normal;
  font-size: 16px;
}
.connectTable {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.connectTable table td{
  padding: 4px;
}
.connectTable table tr td:nth-child(odd), .connectTable table th {
  text-align: center;
}
.connectTable table tr:nth-child(odd) td{
  background: #e6eff6
}
#zonePage iframe {
  overflow: hidden;
}

#instructionsPage {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.instruction {
  width: 238px;
  height: 175px;
  display: block;
  margin: 20px 10px;
}
.zeno {background: url(./assets/instructions/1.png)}
.zeno:hover {background: url(./assets/instructions/1_1.png)}
.captivate {background: url(./assets/instructions/2.png)}
.captivate:hover {background: url(./assets/instructions/2_2.png)}
.smartwox {background: url(./assets/instructions/3.png)}
.smartwox:hover {background: url(./assets/instructions/3_3.png)}
.trimble {background: url(./assets/instructions/4.png)}
.trimble:hover {background: url(./assets/instructions/4_4.png)}

.stonex {background: url(./assets/instructions/5.png)}
.stonex:hover {background: url(./assets/instructions/5_5.png)}
.tracy {background: url(./assets/instructions/6.png)}
.tracy:hover {background: url(./assets/instructions/6_6.png)}
.spectra {background: url(./assets/instructions/7.png)}
.spectra:hover {background: url(./assets/instructions/7_7.png)}
.south {background: url(./assets/instructions/8.png)}
.south:hover {background: url(./assets/instructions/8_8.png)}

.landstar6 {background: url(./assets/instructions/9.png)}
.landstar6:hover {background: url(./assets/instructions/9_9.png)}
.landstar7 {background: url(./assets/instructions/10.png)}
.landstar7:hover {background: url(./assets/instructions/10_10.png)}
.topsurv {background: url(./assets/instructions/11.png)}
.topsurv:hover {background: url(./assets/instructions/11_11.png)}
.topcon {background: url(./assets/instructions/12.png)}
.topcon:hover {background: url(./assets/instructions/12_12.png)}

.eft {background: url(./assets/instructions/13.png)}
.eft:hover {background: url(./assets/instructions/13_13.png)}
.acnovo {background: url(./assets/instructions/14.png)}
.acnovo:hover {background: url(./assets/instructions/14_14.png)}
.altus {background: url(./assets/instructions/15.png)}
.altus:hover {background: url(./assets/instructions/15_15.png)}
.rinex {background: url(./assets/instructions/16.png)}
.rinex:hover {background: url(./assets/instructions/16_16.png)}

@media (max-width: 1140px) {
  .arrow {
    display: none;
  }
  #instructionsPage {
    justify-content: space-around;
  }
}

@media (max-width: 975px) {
  .connectTable table {
    width: 100%
  }
  .connectTable table tr td:nth-child(1) {
    width: 20%
  }
  .connectTable table tr td:nth-child(3) {
    width: 20%
  }
  .connectTable table:nth-child(2) th {
    display: none;
  }
}

@media (max-width: 800px) {
  #spheresPage .sphereBlock {
    padding: 250px 20px 20px 20px;
    background-position: center top;
  }
  .tariffBlock {
    padding: 20px;
  }
}

@media (max-width: 560px) {
  #aboutSmartPage .text {
    justify-content: center;
  }
}

@media (max-width: 395px) {

}
